body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1, h4, p{
  text-align: center;
}

nav{
  background-color: rgb(189, 220, 253);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.navegacion{
  width: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 
}
a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

.button-toggle{
  cursor: pointer;
  height: 40px;
  border-radius: 30px;
  border: none;
  margin-top: 17px;
  background-color: midnightblue;
}
.img{
  width: 200px;
  height: 200px;
}
footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 95%;
  height: 124px;
  margin-top: 4rem;
  background-color: rgb(133, 173, 236);
}

.logo-dh{
  width: 400px;
  height: 100px;
}

.redes-sociales{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 30px;
  margin-top: 60px;
}
.redes-sociales img{
  width: 30px;
  height: 30px;
}

footer > img{
  width: 200px;
  margin: 0;
}
.powered{
  margin: 0;
  padding-top: 0.7rem;
  font-size: 28px;

}

.contact{
  text-align: center;
  margin-top: 40px;
  height: 400px;
}

.contact h2, p{
  margin-top: 40px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

form div{
  margin-top: 30px;
  margin-bottom: 10px;
}

.button-enviar{
  margin-top: 30px;
  background-color: #453e91;
  color: white;
  text-align: 40px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
}
.info-contac{
  margin-bottom: 60px;
}
.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  margin-top: 30px;
}


.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark-theme {
  background-color: #4b4b4b;
  color: #fff;
}

.dark-theme nav {
  background-color: #231e56;
  color: #fff;
}

.dark-theme footer{
  background-color: #231e56;
  color: #fff;
}


.dark-theme .card {
  background-color: #3a3a3a;
  color: #fff;
}

.dark-theme .card:hover {
  background-color: #4a4a4a;
}

.dark-theme .card h2 {
  color: #fff;
}

.dark-theme .card h3 {
  color: #b7b7b7;
}

.dark-theme button {
  background-color: #b7b7b7;
  color: #1e1e1e;
}

.dark-theme .button-toggle{
  visibility: hidden;
}
.dark-theme .button-toggle::before{
  content: "🔆"; 
  visibility: visible;
  background-color: #fff;
 cursor: pointer;
  
}
.dark-theme button:hover {
  background-color: #d7d7d7;
}

.dark-theme a {
  color: #fff;
}
